/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

    --color-primary: hsl(276, 91%, 41%);
    --color-light: hsl(0, 3%, 94%);
    --color-white: hsl(0, 0%, 100%);
    --color-dark: hsl(0, 0%, 0%);
    --color-transparent: hsla(0, 0%, 100%, 0);

    --font-size: .9rem;
    --line-height: 1.6;

    --transition: all 400ms ease-in-out;

    --shadow: -5px 8px 10px hsla(0, 0%, 0%, 0.15);
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);

    --container-lg: 80%;
    --container-md: 90%;
    --container-max-wd: 1800px;

}

/*==========Base==========*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body {
    background: var(--color-white);
    color: var(--color-dark);
    line-height: var(--line-height);
    font-size: var(--font-size);
}
::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: var(--color-dark)
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}
.container {
    width: var(--container-lg);
    max-width: var(--container-max-wd);
    margin-inline: auto;
}
.title {
    position: relative;
    color: var(--color-primary);
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
    margin-block-end: 3rem;
}
section {
    margin-block-start: 4rem;
}
h1, h2, h3, h4, h5 {
    color: var(--color-dark);
    line-height: 1.3;
    text-shadow: var(--shadow);
}
h1 {
    font-size: 3rem;
    margin: 1rem 0;
}
h2 {
    font-size: 2rem;
    margin: 1rem 0;
}
h3 {
    font-size: 1.1rem;
    margin: .8rem 0 .5rem;
}
h4 {
    font-size: 1rem;
}
a {
    color: var(--color-dark);
    transition: var(--transition);
}
img {
    display: block;
    width: 100%;
}

@media (max-width: 1024px) {
    .container{
        width: var(--container-md);
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: .8rem;
    }

}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

}
